.card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  height: 240px;
  @include main-shadow(#dddddd);
  img {
    box-sizing: border-box;
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  @include desktop {
    width: 23%;
  }
  @include tablet {
    margin: 20px 55px;
  }
}

.card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 75px;
  height: 28px;
  border-radius: 3px;
  background-color: $colour-tertiary;
  color: $colour-tertiary-darker;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 5px 10px;
  h3 {
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
  }
}
