footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 0;
  background-color: $footer-background;
  color: white;
  h4 {
    margin: 0;
    padding: 5px 40px;
    font-size: 20px;
  }
  i {
    padding-right: 7px;
    font-size: 14px;
  }
  ul {
    margin: 10px 0;
  }
  li {
    padding: 5px 0;
    font-size: 15px;
  }
  a {
    color: white;
    &:hover {
      border-bottom: 2px solid $colour-primary;
    }
  }
  .fa-hands-helping {
    font-size: 12px !important;
    padding-right: 4px !important;
  }
}

.footer__desktop {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    ul {
      display: flex;
      justify-content: space-around;
    }
    li {
      padding: 0 10px;
      transition: transform 0.5s;
      &:hover {
        cursor: pointer;
        color: $colour-secondary;
        transform: scale(1.1);
      }
    }
  }
  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      padding: 0 10px;
    }
  }
}
