@media screen and (min-width: 992px) {
  header {
    background-color: #eceff3;
    box-shadow: 0px 5px 8px rgb(221, 221, 221);
  }

  header h1 {
    font-size: 40px;
    margin: 0;
    padding: 15px;
  }

  .location {
    background-color: #eceff3;
    color: #9356dc;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding: 0 0 15px 0;
  }

  .fa-location-dot {
    color: black;
  }

  .explore {
    background-image: url(../img/welcomePage2.jpg);
    background-size: cover;
    object-position: bottom;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .exploreDesk {
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .exploreDesk p {
    margin-bottom: 30px;
    font-size: 22px;
  }

  .exploreDesk h2 {
    font-size: 30px;
  }

  .running h2,
  .restaurants h2 {
    font-size: 28px;
    text-align: center;
  }

  .threeSteps {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0px 5px 8px rgb(221, 221, 221);
    padding: 25px 35px;
  }

  .step i {
    padding: 0 15px;
  }

  .number {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }

  .restaurants {
    padding: 25px;
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 23%;
  }

  .restaurantDesk {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footerDesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .footerDesk ul {
    display: flex;
    justify-content: space-around;
  }

  .footerDesk li {
    padding: 0 10px;
    transition: transform 0.5s;
  }

  .footerDesk li:hover {
    cursor: pointer;
    color: #ff79da;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }

  /***EACH MENU STYLE ***/
  .backMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }

  .fa-arrow-left {
    font-size: 30px;
    color: #9356dc;
    transition: transform 0.5s;
  }

  .fa-arrow-left:hover {
    transform: scale(1.2);
    color: #ff79da;
  }

  .restoPicture img {
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .menuFood {
    margin-top: -5px;
    padding: 0;
    border-radius: unset;
    border-top: solid 6px #9356dc;
  }

  .menuDesktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .menuInfo {
    width: 335px;
  }

  .restoName h2 {
    padding: 25px;
    font-size: 35px;
  }

  .restoName i {
    font-size: 35px;
  }

  .loader h1 {
    font-size: 70px;
  }
}
