$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;

$footer-background: #313135;
$header-background: #dee1e6;
$explore-background: #eceff3;

$colour-primary-lighter: #f0e6fc;
$colour-tertiary-darker: #088167;

$loader-title: #4e4e52;

/*MEDIA QUERIES MAP*/
$breakpoints: (
  desktop: 992px,
  tablet-min: 768px,
  tablet-max: 992px,
);
